<div >
  <button >Click 1</button> 
</div>

<!-- class Binding -->
<div>
  <button class="colorClass">Click 2</button>
</div>
<!-- class Binding with Interpolation Binding-->
<div>
  <button class={{classToApply}}>Click 3</button>
</div>
<!-- Class Binding with Property Binding  -->
<div>
  <button [class]='classToApply'>Click 4</button>
</div>

<!-- Italic class excluded in property(.ts) but added in Html file -->

<div>
  <button class='italicClass' [class]='classToExclude'>Click 5</button>
</div>
<div>
  <button class="colorClass" [class.fontClass]='applyFontClass'>Click 6</button>
</div>

<div>
  <button class="colorClass" [class.fontClass]='applyFontClass' 
  [class.italicClass]='applyItallicClass'>Click 7</button>
</div>

<!-- Apply CSS Method using class binding and ngClass directive  and attribute binding-->
<div><button class="colorClass" [ngClass]="addCSSClasses()">Click 8</button></div>





