

<!-- Two  way Data Binding =Property Binding and Event Binding-->

Name :<input [value]='name' (input)='name=$any($event).target.value'/>
<br>
<br>
You Entered :{{name}}
<br>
<br>

<!--Using Form Module Two  way Data Binding =Property Binding and Event Binding-->
Last Name:<input [value]='lastname' [(ngModel)]='lastname'/>
<br>
<br>
You Entered Last Name :{{lastname}}
