<h2>Hello Angular One way Data Binding</h2>
<h1>Interpolation</h1>
<h2>{{name}}</h2>
<h2>{{title}}</h2>
<h2> Employee Information</h2>
<h3>Name={{employee.name}}</h3>
<h3>Location={{employee.location}}</h3>
<h1>Property Binding</h1>
Name: <input [value]='name'>
<br>  
Employee Name:<input [value]='employee.name'>
<br>
<img [src]='imageUrl'  width="20" height="20"/>
<img src='{{imageUrl}}' width="20" height="20"/>
