
<table >
  <thead>
   <tr>
     <!-- HTML attribute do not have DOM property  colspan={{columnSpan}}  gives error accept static value-->
    <!-- <th colspan="2">{{pageHeader}}</th> This works -->
    <th [attr.colspan]='columnSpan'>{{pageHeader}}</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>{{firstName}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{lastName}}</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>{{department}}</td>
    </tr>

  </tbody>
</table>

<!-- class Binding -->