<div>
  <button 
  style='color:purple' 
  [style.font-weight]="isBold ? 'bold' : 'normal'"
   [style.font-size]="isLarge?'large':'small'">Click 1</button>
  </div>

  <div><button style='color:violet' 
      [style.font-size.px]="fontSize">Click 2</button></div>

      <div><button style='color:darkorchid'  [ngStyle]="addCssStyle()">Click 3</button></div>